HELP.md
target/classes/
target/generated-sources/
target/maven-status/
target/maven-archiver/
target/test-classes/
target/surefire-reports/
target/generated-test-sources/
target/web-backend-0.0.1-SNAPSHOT.jar.original
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### VS Code ###
.vscode/
